@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #6f1d9d;
    height: 90px;
    width: 100%;
    padding: 10px 50px 10px 45px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
nav img{
    width: 70px;
    height: 70px;
}
nav button{
    border: none;
    border-radius: 10px;
    padding: 5px 28px;
    background-color: #fb7e00;
    color: white;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
}
  /* Apply the animation to the button on hover */
nav button:hover{
    animation: shake 0.5s ease-in-out;
    opacity: 0.7;
}
@keyframes shake {
    0%, 100% {
    transform: translateY(0);
    }
    25%, 75% {
    transform: translateY(-5px); 
    }
    50% {
    transform: translateY(5px);
    }
}
.container-fluid ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-weight: bold;
}
li, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
/* The icon for showing the content */
.fas{
    display: none;
    cursor: pointer;
}
#showRight{
    position: absolute;
    background-color: #fb7e00;
    color: white;
    height: 100vh;
    width: 40%;
    right: 0;
    top: 0;
    font-size: 20px;
    display: none;
}
#showRight .dropdown .dropdown-content{
    background-color: #6f1d9d;
    height: 180px;
}
#showRight .dropdown-content li:hover{
    background-color: #fb7e00;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid #6f1d9d;
}
#showRight ul{
    font-size: 21px;
    font-weight: bold;
}
#showRight li{
    margin-top: 30px;
}
.imageContent{
    position: absolute;
    top: 80px;
    background: center/cover no-repeat;
    height: 570px;
    text-align: center;
    padding: 80px;
    color: white;
    animation: slideBackground 15s linear infinite; /* Adjust duration as needed */
}
@keyframes slideBackground {
    0%, 50% {
      background-image: url('images/cam.jpg'); /* Initial and final background image */
    }
    60%, 100% {
      background-image: url('images/event.jpg'); /* Intermediate background image */
    }
}
.imageContent h2{
    color: #6f1d9d;
    margin-top: 100px;
}
.imageContent .day{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}
.countdown-box{
    background-color: #fb7e00;
    padding: 20px;
}
.content{
    background-color: #6f1d9d;
    color: white;
    position: absolute;
    top: 650px;
    padding: 50px;
}
.content h3{
    text-align: center;
    margin-bottom: 50px;
}
.content ul{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content li{
    width: 40%;
    line-height: 30px;
    list-style-type: circle;
}
.speakers{
    position: absolute;
    top: 1100px;
    padding: 45px;
}
.speakers h1{
    color: #6f1d9d;
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
}
.speakers span{
    color: #fb7e00;
}
.speakers img{
    width: 310px;
}
.ticket{
    position: absolute;
    top: 2000px;
    padding: 45px;
    width: 100%;
}
.ticket .getTicket{
    text-align: center;
}
.getTicket h1{
    color: #fb7e00;
    font-size: 60px;
}
.getTicket p{
    font-size: 35px;
    margin-bottom: 60px;
    font-weight: bold;
}
.accessticket{
    border: 1px solid #fb7e00;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    padding: 40px;
}
.accessticket button{
    border: none;
    border-radius: 10px;
    padding: 10px 28px;
    background-color: #6f1d9d;
    color: white;
}
.flexticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}