@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #6f1d9d;
    height: 90px;
    width: 100%;
    border-bottom: 4px solid white;
    padding: 10px 50px 10px 45px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
nav .welcome{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.welcome h3{
    display: none;
    color: white;
}
nav img{
    width: 70px;
    height: 70px;
}
.container-fluid ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-weight: bold;
}
li, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
nav button{
    border: none;
    border-radius: 10px;
    padding: 5px 28px;
    background-color: #fb7e00;
    color: white;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
}
  /* Apply the animation to the button on hover */
nav button:hover{
    animation: shake 0.5s ease-in-out;
    opacity: 0.7;
}
@keyframes shake {
    0%, 100% {
    transform: translateY(0);
    }
    25%, 75% {
    transform: translateY(-5px); 
    }
    50% {
    transform: translateY(5px);
    }
}
.container-fluid ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-weight: bold;
}
li, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
/* The icon for showing the content */
#menu{
    display: none;
    cursor: pointer;
}
#showRight{
    position: absolute;
    background-color: #fb7e00;
    color: white;
    height: 100vh;
    width: 40%;
    right: 0;
    top: 0;
    font-size: 20px;
    display: none;
}
#showRight .dropdown .dropdown-content{
    background-color: #6f1d9d;
    height: 180px;
}
#showRight .dropdown-content li:hover{
    background-color: #fb7e00;
}
/* The icon for showing the content */
#menu{
    display: none;
    cursor: pointer;
    color: #fb7e00;
    opacity: 1; 
    font-size: 35px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid #6f1d9d;
}
#showRight ul{
    font-size: 21px;
    font-weight: bold;
}
#showRight li{
    margin-top: 30px;
}
.imageContent{
    position: relative;
    top: 80px;
    font-size: 22px;
    background: center/cover no-repeat;
    height: 80vh;
    text-align: center;
    padding: 80px;
    color: white;
    animation: slideBackground 15s linear infinite; /* Adjust duration as needed */
}
@keyframes slideBackground {
    0%, 50% {
      background-image: linear-gradient(to right,  rgba(109, 28, 156, 0.7),  rgba(109, 28, 156, 0.7)  ),url('images/cam.jpg'); /* Initial and final background image */
    }
    60%, 100% {
        background-image: linear-gradient(to right,  rgba(109, 28, 156, 0.7),  rgba(109, 28, 156, 0.7)  ),url('images/event.jpg'); /* Initial and final background image */
    }
}
.imageContent h2{
    color: #fb7e00;
    margin-top: 100px;
    font-size: 50px;
}
.imageContent .day{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
}
.countdown-box{
    background-color: #fb7e00;
    padding: 20px;
}
.content{
    background-color: #6f1d9d;
    color: white;
    position: relative;
    top: 250px;
    padding: 50px;
}
.content h3{
    text-align: center;
    margin-bottom: 50px;
}
.content ul{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content li{
    width: 40%;
    line-height: 30px;
    list-style-type: circle;
}
.speakers{
    position: relative;
    top: 380px;
    padding: 45px;
}
.speakers h1{
    color: #6f1d9d;
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
}
.speakers span{
    color: #fb7e00;
}
.speakers img{
    width: 310px;
}
.ticket{
    position: relative;
    top: 410px;
    padding: 45px;
    width: 100%;
}
.ticket .getTicket{
    text-align: center;
}
.getTicket h1{
    color: #fb7e00;
    font-size: 60px;
}
.getTicket p{
    font-size: 35px;
    margin-bottom: 60px;
    font-weight: bold;
}
.accessticket{
    border: 1px solid #fb7e00;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    padding: 40px;
}
.accessticket button{
    border: none;
    border-radius: 10px;
    padding: 10px 28px;
    background-color: #6f1d9d;
    color: white;
    cursor: pointer;
}
.flexticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.relatedEvent{
    position: relative;
    top: 400px;
    padding: 45px;
    width: 100%;
}
.relatedEvent h1{
    text-align: center;
    color: #6f1d9d;
    font-size: 60px;
    margin-bottom: 80px;
}
.relatedEvent img{
    width: 310px;
}
.Sponsorship{
    position: relative;
    top: 430px;
    background-color: #6f1d9d;
    color: white;
    text-align: center;
    padding: 45px;
}
.Sponsorship h1{
    font-size: 55px;
    color: #fb7e00;
}
.Sponsorship h2{
    font-size: 40px;
    color: #101010;
}
.Sponsorship p{
    line-height: 30px;
}
.faqs{
    position: relative;
    top: 500px;
    background: url('images/event.jpg') center/cover no-repeat;
    height: 300px;
    width: 100%;
    color: white;
    padding: 45px;
    text-align: center;
}
.faqs h1{
    color: #fb7e00;
    font-size: 68px;
}
.questions{
    position: relative;
    top: 500px;
    padding: 45px;
    width: 100%;
    text-align: center;
    padding-bottom: 30vh;
}
.questions button{
    background-color: gray;
    color: white;
    padding: 0 40px;
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}
button .angle{
    right: 0;
}
.questions .text{
    background-color: white;
    width: 100%;
    margin: -5px auto;
    height: 20vh;
    box-shadow: 0 0 20px 0;
    padding: 30px;
}
.questions p{
    width: 80%;
    line-height: 30px;
    margin: 0 auto;
}
.questions .ques{
    margin-bottom: 5px;
}
footer{
    background: linear-gradient(to right,  rgba(109, 28, 156, 0.7),  rgba(109, 28, 156, 0.7)), url('images/event.jpg') center/cover no-repeat;
    padding: 10px 45px;
    position: relative;
    width: 100%;
    height: 20%;
    color: white;
}
footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-left: -35px;
    flex-wrap: wrap;
}
footer .floatRight{
    color: #fb7e00;
}
footer .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer i{
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;
}
footer i:hover{
    opacity: 0.5;
}
.mobile-footer{
    display: none;
}
@media screen and (max-width: 900px) {
    nav .container-fluid, nav button{
        display: none;
    }
    nav img{
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
    .welcome h3{
        display: block;
    }
    #menu{
        display: block;
    }
    footer{
        position: fixed;
        height: 10vh;
        bottom: 0;
    }
    footer .dest-footer{
        display: none;
    }
    footer .mobile-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 10px;
    }
    .mobile-footer p{
        display: block;
        margin-right: 15px;
        margin-top: 10px;
    }
    .mobile-footer i{
        color: white;
        font-size: 30px;
        margin-left: 15px;
        margin-top: -10px;
    }
    .mobile-footer i:hover{
        opacity: 0.2;
    }
}
@media screen and (max-width: 770px) {
    #showRight{
        width: 50%;
    }
    .imageContent{
        top: 40px;
        height: 80vh;
    }
    .flexticket{
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
    .flexticket .accessticket{
        width: 100%;
        margin-bottom: 30px;
    }
    .questions p{
        width: 95%;
        margin-top: -15px;
    }
}
@media screen and (max-width: 595px) {
    .imageContent{
        padding: 80px 40px;
    }
    .questions button{
        font-size: 20px;
    }
    .content ul{
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    .content li{
        width: 100%;
    }
}
@media screen and (max-width: 520px) {
    #showRight{
        width: 60%;
    }
    .questions .text{
        height: 30vh;
    }
    .imageContent .day{
        gap: 3px;
    }
    .imageContent{
        height: 98vh;
    }
}
@media screen and (max-width: 500px) {
    .mobile-footer i{
        margin-right: 40px;
    }
    .questions button{
        font-size: 16px;
    }
    #showRight{
        width: 70%;
    }
}
@media screen and (max-width: 450px) {
    nav{
        padding: 10px 20px;
    }
    .questions p{
        line-height: 30px;
        width: 95%;
    }
    .questions .text{
        height: 35vh;
    }
    .faqs{
        padding: 5px 45px;
    }
    .Sponsorship h1, 
    .faqs h1, 
    .getTicket h1, 
    .speakers h1,
    .relatedEvent h1,
    #time{
        font-size: 40px;
    }
    .Sponsorship h2,
    .getTicket p,
    .faqs p
    {
        font-size: 25px;
    }
    .speakersImage img{
        width: 100%;
    }
    .eventRelated img{
        width: 100%;
    }
    .imageContent{
        height: 120vh;
    }
}
@media screen and (max-width: 410px) {
    footer{
        padding: 15px 5px;
    }
    .questions p{
        line-height: 20px;
    }
    .questions .text{
        height: 39vh;
    }
    .questions button{
        padding: 0 15px;
    }
}
@media screen and (max-width: 380px) {
    .mobile-footer i{
        margin-right: 40px;
    }
    .imageContent{
        height: 140vh;
    }
}