@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #6f1d9d;
    height: 90px;
    width: 100%;
    padding: 10px 50px 10px 45px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
}
nav img{
    width: 70px;
    height: 70px;
}
nav button{
    border: none;
    border-radius: 10px;
    padding: 5px 28px;
    background-color: #fb7e00;
    color: white;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
}
  /* Apply the animation to the button on hover */
nav button:hover{
    animation: shake 0.5s ease-in-out;
    opacity: 0.7;
}
@keyframes shake {
    0%, 100% {
    transform: translateY(0);
    }
    25%, 75% {
    transform: translateY(-5px); 
    }
    50% {
    transform: translateY(5px);
    }
}
.container-fluid ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-weight: bold;
}
li, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
/* The icon for showing the content */
#menu{
    display: none;
    cursor: pointer;
    color: #fb7e00;
    opacity: 1; 
    font-size: 35px;
}
#showRight{
    position: absolute;
    background-color: #fb7e00;
    color: white;
    height: 100vh;
    width: 40%;
    right: 0;
    top: 0;
    font-size: 20px;
    display: none;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid #6f1d9d;
}
#showRight ul{
    font-size: 21px;
    font-weight: bold;
}
#showRight li{
    margin-top: 30px;
}
h1{
    position: relative;
    top: 100px;
    margin: 45px;
    font-size: 60px;
}
h2{
    color: black;
    font-size: 40px;
}
.cart{
    position: relative;
    top: 100px;
    background-color: #6f1d9d;
    padding: 45px;
    padding-bottom: 100px;
}
.cart .desk-table{
    background-color: white;
    width: 100%;
    padding-right: 40px;
    text-align: center;
    border-collapse: collapse;
}
th{
    background-color: #fb7e00;
    height: 50px;
}
td,  tr {
    border-bottom: 2px solid #ddd;
    padding: 30px;
}
table .updatecart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.updatecart input{
    padding: 10px;
    border: 1px solid #6f1d9d;
    outline: none;
}
.updatecart button{
    padding: 10px;
    border: 1px solid #6f1d9d;
    background-color: #fb7e00;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.total{
    border: 1px solid #fb7e00;
    background-color: white;
    width: 100%;
}
.total span{
    float: right;
}
.total p{
    border: 1px solid #fb7e00;
    padding: 30px;
    margin: 0;
}
.cart-total button{
    padding: 15px;
    border: none;
    border-radius: 20px;
    float: right;
    margin-top: 20px;
    background-color: #fb7e00;
}
.mobile-table{
    display: none;
}
footer{
    background: linear-gradient(to right,  rgba(109, 28, 156, 0.7),  rgba(109, 28, 156, 0.7)), url('images/event.jpg') center/cover no-repeat;
    padding: 10px 45px;
    position: relative;
    width: 100%;
    height: 20%;
    color: white;
}
footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-left: -35px;
    flex-wrap: wrap;
}
footer .floatRight{
    color: #fb7e00;
}
footer .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer i{
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;
}
footer i:hover{
    opacity: 0.5;
}
.mobile-footer{
    display: none;
}
@media screen and (max-width: 1200px) {
    #quan{
        margin-top: 3px;
        border: none;
        border-bottom: 1px solid #6f1d9d;
    }
}
@media screen and (max-width: 900px) {
    #menu{
        display: block;
    }
    .container-fluid ul, nav button{
        display: none;
    }
}
@media screen and (max-width: 850px) {
    nav{
        padding: 10px 25px;
    }
    nav img{
        height: 40px;
        width: 40px;
        border-radius: 40px;
    }
    footer{
        height: 10vh;
        position: fixed;
        bottom: 0;
    }
    footer .dest-footer{
        display: none;
    }    
    footer .mobile-footer{
        display: block;
        text-align: center;
        padding-left: 30px;
    }
    .mobile-footer i{
        color: white;
        font-size: 30px;
        margin-right: 60px;
    }
    .mobile-footer i:hover{
        opacity: 0.2;
    }
    .cart{
        margin-bottom: 35vh;
    }
}
@media screen and (max-width: 750px) {
    .desk-table{
        display: none;
    }
    .mobile-table{
    display: block;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    }
    th, td {
        padding: 16px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        width: 40%;
    }

    th {
    background-color: #f2f2f2;
    }

    /* Coupon input and button styles */
    .mobile-coupon {
    display: flex;
    align-items: center;
    }

    .mobile-coupon input {
    flex: 1;
    margin-right: 8px;
    padding: 10px;
    font-size: 20px;
    }
    .mobile-table button{
    background-color: #fb7e00;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    }

    .btn {
    width: 100%;
    padding: 10px;
    background-color: #fb7e00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    }
    .mobile-table .quantityNumber{
        margin: 0 auto;
        width: 40%;
    }
}
@media screen and (max-width: 680px) {
    
    #showRight{
        width: 50%;
    }
}
@media screen and (max-width: 627px) {
    .mobile-table{
        width: 95%;
    }
    th, td{
        padding: 2px;
    }
}
@media screen and (max-width: 595px) {
    .mobile-table{
        width: 100%;
    }
}
@media screen and (max-width: 570px) {
    .mobile-table{
        width: 100%;
    }
    .mobile-coupon input{
        width: 100%;
        font-size: 16px;
    }
    .mobile-table .btn{
        width: 100%;
    }
    #showRight{
        width: 60%;
    }
    .mobile-footer i{
        color: white;
        font-size: 30px;
        margin-right: 40px;
    }
    footer{
        padding: 15px;
    }
}
@media screen and (max-width: 422px) {
    .mobile-table button{
        font-size: 17px;
    }
    .mobile-table .quantityNumber{
        margin: 0 auto;
        width: 40%;
    }
    #showRight{
        width: 70%;
    }
    footer{
        padding: 15px 10px;
    }
}