@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #6f1d9d;
    height: 90px;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    top: 0;
}
nav .welcome{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.welcome h3{
    color: white;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.container-fluid ul{
    font-size: 17px;
    font-weight: bold;
}
li, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
#menu{
    cursor: pointer;
    color: #fb7e00;
    font-size: 35px;
}
#showRight{
    position: absolute;
    background-color: #fb7e00;
    color: white;
    height: 100vh;
    width: 85%;
    right: 0;
    top: 0;
    font-size: 20px;
    display: none;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid #6f1d9d;
}
#showRight ul{
    font-size: 21px;
    font-weight: bold;
}
#showRight li{
    margin-top: 30px;
}
.explores{
    position: relative;
    top: 100px;
    margin: 30px;
    padding-bottom: 120px;
}
.event{
    background: url('images/event3.jpg') center/cover no-repeat;
    height: 200px;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 50px;
}
.skill{
    background: url('images/skill.jpg') center/cover no-repeat;
    height: 200px;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 50px;
    border: 1px solid #fb7e00;
}
h2{
    color: white;
    font-weight: 800;
    background-color: #fb7e00;
    height: 35px;
}
i{
    cursor: pointer;
}
footer{
    position: fixed;
    background: linear-gradient(to right,  rgba(109, 28, 156, 0.7),  rgba(109, 28, 156, 0.7)), url('images/event.jpg') center/cover no-repeat;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 10px 45px;
    justify-content: space-between;
    align-items: center;
}
footer p{
    display: block;
    margin-right: 20px;
    margin-top: 10px;
}
footer i{
    color: white;
    font-size: 30px;
    margin-right: 25px;
}
footer i:hover{
    opacity: 0.2;
}
@media screen and (max-width: 900px) {
    #showRight{
        width: 50%;
    }
    .event, .skill{
        height: 400px;
        padding-top: 320px;
    }
    h2{
        height: 60px;
        font-size: 35px;
        padding-top: 10px;
    }
    footer p{
        margin-left: 20px;
        font-size: 25px;
        margin-top: 10px;
    }
    footer i{
        font-size: 40px;
        margin-left: 30px;
        margin-top: 25px;
    }
}
@media screen and (max-width: 755px) {
    #showRight{
        width: 60%;
    }
}
@media screen and (max-width: 655px) {
    .event, .skill{
        height: 300px;
        padding-top: 220px;
    }
    h2{
        height: 55px;
        font-size: 30px;
    }
    footer p{
        font-size: 20px;
        margin-left: 5px;
    }
    footer i{
        margin-top: 10px;
        font-size: 30px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 612px) {
    footer{
        padding: 5px;
    }
    footer i{
        margin-top: 20px;
        margin-left: 20px;
    }
    footer p{
        margin-left: 10px;
    }
    #showRight{
        width: 60%;
    }
}
@media screen and (max-width: 550px) {
    footer{
        padding: 15px 5px;
    }
    #showRight{
        width: 70%;
    }
}
@media screen and (max-width: 500px) {
    .event, .skill{
        height: 200px;
        padding-top: 135px;
    }
    h2{
        height: 45px;
        font-size: 25px;
    }
    footer p{
        font-size: 17px;
    }
}
@media screen and (max-width: 420px) {
    #showRight{
        width: 80%;
    }
}