@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #6f1d9d;
    height: 90px;
    width: 100%;
    padding: 10px 50px 10px 45px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
nav img{
    width: 30%;
    height: 30px;
    border-radius: 40px;
}
nav .welcome{
    display: flex;
    align-items: center;
    gap: 10px;
}
.welcome h3{
    color: white;
}
.container-fluid ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-weight: bold;
}
li, a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.dropdown{
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-content{
    position: absolute;
    background-color: #fb7e00;
    display: none;
    min-width: 160px;
    height: 150px;
    box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-mobile-content{
    display: none;
}
.dropdown-content li{
    margin: 22px 8px;
    width: 40;
}
.mobile{
    display: none;
    text-align: center;
}
.mobile ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -50px;
    margin-right: 40px;
}
.mobile li, .mobile a{
    color: #fb7e00;
    font-size: 17px;
}
.dropbtn{
    width: 100%;
    border: 1px solid #6f1d9d;
}
.dropdown-content a{
    color: white;
    font-size: 18px;
}
.dropdown-mobile-content .program-type select{
    width: 100%;
}
.mobile .btn{
    border: none;
    width: 80%;
    margin: 40px auto;
    color: white;
    background-color: #fb7e00;
}
.dropdown-mobile-content .price{
    margin-top: 20px;
}
.dropdown-content li:hover{
    background-color: #6f1d9d;
    margin-left: -33px;
    height: 25px;
    text-align: center;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-mobile:hover .dropdown-mobile-content{
    display: block;
}
/* The icon for showing the content */
#menu{
    display: none;
    cursor: pointer;
    color: #fb7e00;
    opacity: 1; 
    font-size: 35px;
}
#showRight{
    position: absolute;
    background-color: #fb7e00;
    color: white;
    height: 100vh;
    width: 40%;
    right: 0;
    top: 0;
    font-size: 20px;
    display: none;
}
#showRight .dropdown .dropdown-content{
    background-color: #6f1d9d;
    height: 180px;
    width: 250px;
}
#showRight .dropdown-content li:hover{
    background-color: #fb7e00;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid #6f1d9d;
}
#showRight ul{
    font-size: 21px;
    font-weight: bold;
}
#showRight li{
    margin-top: 30px;
}
.search{
    background-color: black;
    position: relative;
    top: 90px;
    width: 100%;
    height: 100px;
    padding: 10px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.search p{
    color: #fb7e00;
    cursor: pointer;
}
.search button{
    background-color: #fb7e00;
    color: white;
    border: none;
    padding: 8px 26px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.search .filter{
    position: relative;
    display: flex;
    gap: 30px;
    margin-left: -30px;
}
.search input{
    width: 500px;
    margin-left: 180px;
    padding: 10px 15px;
    outline: none;
}
.search .icon-search{
    position: absolute;
    left: 760px;
    top: 10px;
}
.search select{
    margin-left: -60px;
    width: 20%;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
}
.search .btn{
    border-radius: 0;
    margin-left: -55px;
    height: 37px;
}
.filter-content{
    position: absolute;
    background-color: rgb(245, 242, 242);
    top: 180px;
    height: 280px;
    width: 100%;
    box-shadow: 0px 0px 20px;
    padding: 10px 45px;
    z-index: 1;
}
.flex{
    display: flex;
}
.program-type select{
    width: 400px;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
}
.flex .price{
    margin-left: 250px;
}
.filter-content .apply{
    background-color: #fb7e00;
    color: white;
    border: none;
    padding: 10px 26px;
}
.filter-content button{
    margin-top: 10px;
    padding: 8px 26px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.filter-content hr{
    margin-top: 70px;
}
#allProgram{
    position: relative;
    top: 150px;
    margin: 0 45px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 280px;
}
.card img{
    width: 280px;
    height: 200px;
}
.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card h2{
    text-align: center;
}
.card li{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -15px;
}
.card p{
    color: black;
}
.card button:hover {
    opacity: 0.7;
}
.all-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    flex-wrap: wrap;
}
#upcoming{
    margin-top: 50px;
}
#past{
    margin-top: 50px;
}
footer{
    background: url('images/event.jpg') center/cover no-repeat;
    padding: 10px 45px;
    position: relative;
    width: 100%;
    height: 20%;
    color: white;
    bottom: -30vh;
}
footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-left: -35px;
    flex-wrap: wrap;
}

footer .floatRight{
    color: #fb7e00;
}
footer .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer i{
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;
}
footer i:hover{
    opacity: 0.5;
}
@media screen and (max-width: 1355px) {
    .search input{
        width: 350px;
        margin-left: 120px;
    }
    .search .icon-search{
        left: 550px;
    }
    .search select{
        width: 15%;
    }
    .search .btn{
        margin-left: -55px;
    }
    .card {
        max-width: 200px;
    }
    .card img{
        width: 200px;
        height: 180px;
    }
    .card li{
        gap: 20px;
        margin-bottom: -15px;
        margin-left: -13px;
    }
}
@media screen and (max-width: 1047px) {
    nav{
        padding: 0 25px;
    }
    nav ul{
        margin-right: 25px;
    }
    .search{
        padding: 0 25px;
    }
    .filter button{
        margin-left: 30px;
    }
    .search input{
        width: 350px;
        margin-left: 200px;
    }
    .search p{
        display: none;
    }
    .search .icon-search{
        left: 670px;
    }
    .search .btn{
        margin-right: 10px;
    }
    .card {
        max-width: 180px;
    }
    .card img{
        width: 180px;
        height: 180px;
    }
    .card li{
        margin-left: -17px;
    }
    #allProgram{
        margin-right: 35px;
        margin-left: 26px;
    }
}
@media screen and (max-width: 990px) {
    .search select{
        display: none;
    }
    .card {
        max-width: 380px;
    }
    .card img{
        width: 250px;
    }
}
@media screen and (max-width: 920px) {
    .card {
        max-width: 300px;
    }
    .card img{
        width: 230px;
    }
}
@media screen and (max-width: 880px) {
    .flex .price{
        margin-left: 100px;
    }
    .program-type select{
        width: 250px;
    }
    .filter-content hr{
        margin-top: 50px;
    }
}
@media screen and (max-width: 860px) {
    #allProgram{
        padding-bottom: 190px;
    }
    .card {
        max-width: 300px;
    }
    .card img{
        width: 220px;
    }
    .search .btn{
        display: none;
    }
    .search .input{
        margin-left: 100px;
    }
    .input .icon-search{
        margin-left: 90px;
    }
    .container-fluid{
        display: none;
    }
    #menu{
        display: block;
        margin-right: 20px;
    }
    footer ul li{
        display: none;
    }
    footer{
        height: 15vh;
        position: fixed;
        bottom: 0;
    }
}
@media screen and (max-width: 836px) {
    
    .search .input{
        display: none;
    }
    .card {
        max-width: 200px;
    }
    .card img{
        width: 200px;
    }
}
@media screen and (max-width: 770px) {
    .card {
        max-width: 380px;
    }
    .card img{
        width: 280px;
    }
}
@media screen and (max-width: 680px) {
    .card {
        max-width: 400px;
    }
    .card img{
        width: 260px;
    }
    .social span{
        position: absolute;
        top: 12px;
        left: 40%;
    }
    footer hr{
        margin-top: 30px;
    }
}
@media screen and (max-width: 645px) {
    .card {
        max-width: 300px;
    }
    .card img{
        width: 220px;
    }
    .card ul{
        margin-left: -10px;
    }
    #showRight{
        width: 60%;
    }
    footer{
        height: 10vh;
        text-align: center;
        padding: 18px 0 10px 20px;
    }
    .mobile-footer{
        display: block;
    }
    .desk-footer{
        display: none;
    }
    .mobile-footer i{
        color: white;
        font-size: 30px;
        margin-right: 40px;
    }
    .mobile-footer i:hover{
        opacity: 0.2;
    }
}
@media screen and (max-width: 570px) {
    .program-type select{
        width: 150px;
    }
    .flex .price{
        margin-left: 30px;
    }
}
@media screen and (max-width: 560px) {
    .card {
        max-width: 180px;
    }
    .card img{
        width: 180px;
    }
}
@media screen and (max-width: 488px) {
    .card {
        max-width: 400px;
    }
    .card img{
        width: 400px;
    }
}
@media screen and (max-width: 460px) {
    #allProgram{
        padding-bottom: 190px;
    }
    .card {
        max-width: 350px;
        margin: 0 auto;
    }
    .card img{
        width: 350px;
    }
}
@media screen and (max-width: 410px) {
    #showRight{
        width: 70%;
    }
    .card {
        max-width: 300px;
        margin: 0 auto;
    }
    .card img{
        width: 300px;
    }
}
@media screen and (max-width:400px) {
    #allProgram{
        padding-bottom: 190px;
    }
    .desktopScreen{
        display: none;
    }
    .mobile{
        display: block;
    }
    .filter-content{
        height: 450px;
    }
    #showRight{
        width: 80%;
    }
}